In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

## Project Overview
    1. Understand the basic information of the data
    2. Understand the actions, group them into different classes, by number of users, by number of days, ect.
    3. Understand player behaviour, by time of the week, by actions taken per week

In [13]:
data_path="C:\\Users\\Hua\\Desktop\\Python\\Leyi\\uid_day_command.csv"

In [14]:
df = pd.read_csv(data_path)
df.head(10)

       uid         day                 command  n
0        1  2017-11-02       operate_login_get  1
1        1  2017-11-17            op_reset_map  1
2  1000004  2017-11-05     op_player_map_check  1
3  1000004  2017-11-05  op_recovery_player_map  1
4  1000004  2017-11-08     op_player_map_check  1
5  1000004  2017-11-08  op_recovery_player_map  1
6  1000004  2017-11-14     op_player_map_check  1
7  1000004  2017-11-14  op_recovery_player_map  1
8  1000004  2017-11-15     op_player_map_check  1
9  1000004  2017-11-15  op_recovery_player_map  1

In [22]:
print("Size of dataframe: {0}".format(df.shape))

Size of dataframe: (47598687, 4)

In [24]:
# so we have user id, day of the action, and the action type, with corresponding count as the fields
# we make a new dataframe, which has each user with aggregated data

In [111]:
df['DateNum'] = pd.to_datetime(df.day, format = '%Y-%m-%d')
df.drop(columns='day', inplace=True)

In [150]:
# we want to create a summarized data frame to analyze each user
# so we need to group by the uid
uids = df.uid.unique()
lastTimeRecordAction = df.groupby('uid')['DateNum'].max()
firstTimeRecordAction = df.groupby('uid')['DateNum'].min()
maximumGapOfAction = df.groupby('uid')['DateNum'].apply(lambda x: np.max(np.diff(x)) if x.size > 1 else -1).astype('int64')
numberOfActiveDays = df.groupby('uid')['DateNum'].apply(lambda x: x.unique().size)

In [162]:
print("There are {0:d} users who only logged in once in November. \n".format(np.sum(maximumGapOfAction < 0)))

There are 91940 users who only logged in once in November.

In [164]:
(df.uid.value_counts() == 1).sum()

91940

In [171]:
x = df.uid.unique()
x.size

282915

In [174]:
numberOfActiveDays.tail()

uid
4460914     1
4753911     1
9362542     1
9688815     1
78879614    1
Name: DateNum, dtype: int64